<div class="container">

    <app-search-course (searchText)="search($event)"></app-search-course>

    <div class="row">
        <div class="col-md-11">
            <h2>Course Details</h2>
        </div>
        <div class="col-md-1">
            <button type="button" data-toggle="modal" (click)="addCourse()" data-target="#addEditModal" class="btn btn-info add-new"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Duration</th>
                <th scope="col">Duration Unit</th>
                <th scope="col">Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <th scope="row">{{course.id}}</th>
                <td>{{course.title}}</td>
                <td>{{course.duration}}</td>
                <td>{{course.durationUnit}}</td>
                <td>{{course.description}}</td>
                <td>
                    <a class="edit" title="Edit" data-toggle="modal" (click)="editCourse(course.id)" data-target="#addEditModal"><i class="material-icons">&#xE254;</i></a>
                    <a class="delete" (click)="delete(course)" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-add-edit-course [selectedCourse]="selectedCourse" [isEditMode]="isEditMode" (saveCourseEmit)="saveCourse($event)"></app-add-edit-course>